@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixins.scss';
@import 'variables.scss';
@import 'fonts.scss';

* {
	box-sizing: border-box;

	font-family: 'Roboto', sans-serif;
}

ul {
	list-style-type: none;
}

li {
	text-decoration: none;
}

h1 {
	font-size: 70px;
	font-weight: 700;
	line-height: 82px;
}

.radio-custom .ant-radio-checked .ant-radio-inner {
	border-color: var(--main-color);
	background-color: var(--main-color);
}

.radio-custom .ant-radio-wrapper:hover .ant-radio-inner {
	border-color: var(--main-color);
}

.custom-checkbox .ant-checkbox-wrapper {
	.ant-checkbox-checked .ant-checkbox-inner {
		background-color: transparent;
		border-color: var(--main-color);
	}

	&:hover {
		.ant-checkbox-inner {
			border-color: var(--main-color) !important;
		}

		.ant-checkbox-checked .ant-checkbox-inner {
			background-color: transparent !important;
			border-color: var(--main-color);
		}
	}
}

.ant-checkbox-checked .ant-checkbox-inner:after {
	border-color: var(--main-color);
	border-width: 2px;
}



//pagination
.ant-pagination {
	.ant-pagination-item {
		a {
			color: #007bff;
		}
		&.ant-pagination-item-active {
			border-radius: 50%;
			background-color: #007bff;

			a {
				color: white;
			}
		}
	}

	.ant-pagination-jump-next
		.ant-pagination-item-container
		.ant-pagination-item-ellipsis {
		color: #007bff;
	}
	.ant-pagination-jump-prev
		.ant-pagination-item-container
		.ant-pagination-item-ellipsis {
		color: #007bff;
	}
}

@layer components {
	.button {
		min-height: 48px;
		padding: 10px 16px;
		color: white;
		border-radius: 8px;
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 32px;
		line-height: 32px;
	}

	.ant-menu .ant-menu-title-content {
		display: none;
	}
}
