:root {
	--main-color: #0ec261;
	--black-000: #111518;

	--swiper-pagination-color: #0ec261;
	--swiper-pagination-bullet-inactive-color: #eeeeee;
	--swiper-pagination-bullet-inactive-opacity: 1;
}

$w-md: 768px;
$w-lg: 1024px;
$w-xl: 1280px;
